<ul class="nav nav-tabs">
  <li id= "solicita" role="presentation" class="active"><a>Solicitar</a></li>
  <li id="inbox" role="presentation"><a href="#/inbox">Inbox</a></li>
</ul>
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Carrinho</div>
    <select class="form-control" ng-model="cart.numeroProjeto">
    </select>
    <select class="form-control" ng-model="cart.extraInfo">
    </select>
  <!-- Table -->
  <table class="table">
    <thead>
    	  <tr>
            <th>Quantidade de VMs</th>
            <th>Numero de vCPUs</th>
            <th>Quantidade de RAM</th>
            <th>S.O.</th>
        </tr>
    </thead>
    <tbody>
    	<tr ng:repeat="item in cart.items">
			<td>
				<input type="number" ng:model="item.quantidade_vm" ng:required class="form-control">
			</td>    
			<td>
				<select class="form-control" ng-model="item.numero_vcpus">
				        <option ng-repeat="item in numero_vcpus" value="{{item.value}}">{{item.value}}</option>
				</select>
			</td>          
            <td>
                <select class="form-control" ng-model="item.quantidade_ram">
                    <option ng-repeat="item in quantidade_ram" value="{{item.value}}">{{item.value}}</option>
                </select>
			</td>    
            <td>
                <select class="form-control" ng-model="item.so">
                    <option ng-repeat="item in so" value="{{item.value}}">{{item.value}}</option>
                </select>
			</td>   
            <td>
                [<a href ng:click="removeItem($index)">X</a>]
            </td>
        </tr>
        <tr>
            <td><a href ng:click="addItem()" class="btn btn-small">add item</a></td>
            <td><a href ng:click="requisitar()" class="btn btn-small">Finalizar</a></td>
        </tr>
    </tbody>
  </table>
</div> 
<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="js/libs/bootstrap.min.js"></script>